In [132]:
import random
import numpy as np
import pandas as pd

In [133]:
timeHrs = np.array([])
timeMins = np.array([])
carModels = np.array(['Swift', 'Wagonr', 'Dzire', 'i10', 'XUV 500', 'Celerio', 'Baleno', 'Tiago', 'Verna'])
distanceInKms = np.array([])

MAX_ROWS = 10

row = 0

while row < MAX_ROWS:
    timeHrs = np.append(timeHrs, int(random.randint(8, 20)))
    row += 1

row = 0

while row < MAX_ROWS:
    timeMins = np.append(timeMins, int(random.randint(10, 59)))
    row += 1
    
row = 0

while row < MAX_ROWS:
    distanceInKms = np.append(distanceInKms, int(random.randint(180, 210)))
    row += 1

In [134]:
npData = np.array([
    ['', '', '', '']
])

npData = np.append(npData, np.array([
    [
        timeHrs[random.randint(0, len(timeHrs)-1)],
        timeMins[random.randint(0, len(timeMins)-1)],
        carModels[random.randint(0, len(carModels)-1)],
        distanceInKms[random.randint(0, len(distanceInKms)-1)]

    ]
]), axis=0)

npData = npData[1:]

In [135]:
MAX_ROWS = 500
row = 0

while row < MAX_ROWS:
    npData = np.append(npData, np.array([
        [
            timeHrs[random.randint(0, len(timeHrs)-1)],
            timeMins[random.randint(0, len(timeMins)-1)],
            carModels[random.randint(0, len(carModels)-1)],
            distanceInKms[random.randint(0, len(distanceInKms)-1)]

        ]
    ]), axis=0)
    row += 1

dataFrame = pd.DataFrame(data = npData, columns = [
    'HH', 'MM', 'Car Model', 'Distance'
])

dataFrame

       HH    MM Car Model Distance
0    18.0  22.0    Wagonr    205.0
1    13.0  50.0    Wagonr    181.0
2    20.0  25.0     Swift    209.0
3    15.0  13.0    Baleno    197.0
4    20.0  54.0     Dzire    204.0
..    ...   ...       ...      ...
496  18.0  22.0   XUV 500    209.0
497  14.0  13.0     Verna    182.0
498  14.0  50.0   XUV 500    192.0
499  14.0  13.0   Celerio    192.0
500  20.0  59.0    Wagonr    182.0

[501 rows x 4 columns]

In [136]:
file = open('../datasets/csv/data-monthly.csv', 'w')
dataFrame.to_csv(file)
file.close()